.sec1{
    
    position: absolute;
top: 30px;
    left: 20%;
         
          background-color: chartreuse;
          width: 1090px;
          height: 200px;
         
    
}
.img2
{ 
    position: absolute;
    left: 450px;
    bottom: 80px;
    background-color: cornsilk;
    width: 100px;
    height: 100px;
}
.btn2
{
    position: relative;
    top: 80px;
    left: 30px;
}